<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http : //mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace属性:用于指定当前的映射文件和哪个接口进行映射，需要指定接口的文件路径，需要标注包的完整路径接口-->
<mapper namespace="com.hgy.storeproject.mapper.CartMapper">
    <!--自定义映射规则: resultMap标签来完成映射规则的定义上-->
    <!--
        id属性:标签给这个映射负责分配一个唯一的id值，对应的就是resultHap="id属性的值"属性的取值
        type属性:取值是一个类，表示的是数据库中的查询结果与Java中哪个实体类进行结果集的映射
    -->
    <resultMap id="CartEntityMap" type="com.hgy.storeproject.entity.Cart">
        <!--将表的资源和类(实体类)的属性不一致的字段进行匹配指定，名称一致的字段可以省略不写-->
        <!--配合完成名称不一致的映射:
            column属性:表示表中的资源名称
            property属性:表示类中的属性名称
        -->
        <!--在定义映射规则时主键是不可以省略的-->
        <id column="cid" property="cid"/>
        <result column="created_time" property="createdTime"/>
        <result column="created_user" property="createdUser"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="modified_user" property="modifiedUser"/>
    </resultMap>

    <insert id="insertCart" useGeneratedKeys="true" keyProperty="cid">
        INSERT INTO cart (uid, gid, price, num, created_user, created_time, modified_user, modified_time)
        VALUES (#{uid}, #{gid}, #{price}, #{num}, #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime})
    </insert>

    <update id="updateNumByCid">
        UPDATE cart
        SET num=#{num}, modified_user=#{modifiedUser}, modified_time=#{modifiedTime}
        WHERE cid=#{cid}
    </update>

    <select id="findByUidAndGid" resultMap="CartEntityMap">
        SELECT * FROM cart WHERE uid=#{uid} AND gid=#{gid}
    </select>

    <!-- 查询某用户的购物车数据：List<CartVO> findVOByUid(Integer uid) -->
    <select id="findVOByUid" resultType="com.hgy.storeproject.vo.CartVO">
        SELECT cid, uid, cart.gid, cart.price, cart.num, goods.title, goods.image
        FROM cart LEFT JOIN goods ON cart.gid = goods.gid
        WHERE uid = #{uid} ORDER BY cart.created_time DESC
    </select>

    <select id="findVOByCid" resultType="com.hgy.storeproject.vo.CartVO">
        SELECT * FROM cart WHERE cid=#{cid}
    </select>

    <delete id="deleteCartVOByCid">
        DELETE FROM cart WHERE cid = #{cid}
    </delete>
</mapper>